.nav {
    background-color: gray;
}

.ab {
    text-decoration: none;
    font-family: "Comic Sans MS";
    color: #0060B6;
}

.ab:hover {
    color: black;
    text-decoration:none;
    cursor:pointer;
}
