
h1 {
    color: black;
    font-family: "Comic Sans MS";
    margin-left: 5px;
}

h2 {
    margin-left: 20px;
}

body {
    /*background: #a8d7e1;*/
    background: #ed836e;
    background: -webkit-radial-gradient(circle farthest-side at center center, #30b6bf 0%, #a8d7e1 100%);
    background: -moz-radial-gradient(circle farthest-side at center center, #30b6bf 0%, #a8d7e1 100%);
    background: radial-gradient(circle farthest-side at center center, #30b6bf 0%, #a8d7e1 100%);
}

p {
    margin-top: 1px;
    font-size: 12px;
    font-style:italic;
    margin-left: 15px;
}

.art_list{
    text-decoration: none;
    font-family: "Comic Sans MS";
    color: #0060B6;
}

.art_list:hover {
    color:#00A0C6;
    text-decoration:none;
    cursor:pointer;
}