<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{% block title %}My Blog{% endblock %}</title>
    {% block css_add %}{% endblock %}
</head>
<body>

    {% block menu %}

    <div class="nav-nav">
      <nav class="nav">
        <a class="ab" href="#">Home page</a>
        <a class="ab" href="#">All articles</a>
        <a class="ab" href="#">Contacts of creator</a>
      </nav>
    </div>

    {% endblock %}

    {% block content %}{% endblock %}

</body>
</html>
