{% extends 'base.html' %}

{% load static %}

{% block css_add %}
    <link rel="stylesheet" href="{% static 'details/css/details.css' %}">
    <link rel="stylesheet" href="{% static 'navigation/css/navigation.css' %}">
{% endblock %}

{% block title %}{{article.article_title}}{% endblock %}

{% block content %}

<h2>{{article.article_title}}</h2>

<p>{{article.article_text}}</p>

<em>{{article.pub_date}}</em>

<hr size="2" color="black">

{% if latest_comment_list %}

    {% for c in latest_comment_list %}
        <p>
            <strong>{{c.comment_author}}</strong>
            <p>{{c.comment_text}}</p>
            <hr>
        <p>
    {% endfor %}

{% else %}
<p>Comments not found. Become first!
{% endif %}

<hr size="2" color="black">

<form action="{% url 'articles:leave_comment' article.id %}" method="POST">

    {% csrf_token %}

    <input type="text" class="comment_form" required placeholder="Your name" name="name"><br>
    <textarea name="text" class="comment_form" required placeholder="Your comment" cols="30" rows="10"></textarea><br>

    <button type="submit" class="comment_button">Leave comment</button>

</form>

{% endblock %}